.corpo {
    width: 85%;
    height: auto;
    margin: auto;
}

.cabecalho {
    padding: 1px 2px;
    width: 99.5%; /* valor necessário para compensar tamanho da borda.*/
    height: 100px;
    margin: 1 auto;
    border-radius: 10px;
    border-style: solid;
    border-color: #003265;
    border-width: 1px;
    background-color: #3C6EB4;
}

.conteudo-header {
    margin: 0 auto;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 40px;
    color: white;
}

.menu {
    width: 99.5%; /* valor necessário para compensar tamanho da borda.*/
    height: 30px;
    margin: 3% auto;
    border-radius: 10px;
    border-style: solid;
    border-color: 003265;
    border-width: 1px;
    text-align: center;
    word-spacing: 100px;
    line-height: 28px;
    background-color: #3C6EB4;
}

.corpo-menu {
    padding: 2% 2%;
    width: 15%;
    height: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: 003265;
    border-width: 1px;
    float: left;
    background-color: #3C6EB4;
}

.conteudo {
    padding: 0 2%;
    width: 75%;
    height: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin-left: auto;
    float: right;
    background-color: #F8F9FA;
}

.rodape {
    width: 99.5%; /* valor necessário para compensar tamanho da borda.*/
    height: 70px;
    margin: 3% auto;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background-color: #3C6EB4;
}

.conteudo-rodape {
    padding: 10px;
    text-align: center;
    margin: auto;
    font-size: 12px;
    color: white;
}

.shell {
    border: 1px solid #0E0E0E;
    padding: 10px 10px;
    background-color: #252525;
    color: #F0F0F0;
    width: 90%;
    font-family: Hack;
    font-size: 13px;
    font-style: italic;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Light';
    color: black;
}

p {
    font-family: 'Open Light';
    font-size: 15px;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: #E9ECEF;
    color: black;
    font-family: 'Open Light';
}

@font-face {
    font-family: Hack;
    src: local(Hack), url(fonts/Hack/Hack-Regular.ttf);
}

@font-face {
    font-family: 'Open Light';
    src: local('Open Light'), url(fonts/Open_Sans/OpenSans-Light.ttf);
}